/build

.gradle/
build/
!gradle-wrapper.jar

.idea/
*.iml
*.ipr
*.iws

local.properties
.cxx/
captures/
.externalNativeBuild/

.DS_Store
Thumbs.db

*.kotlin_module

**/build/
**/.gradle/

*.log

*.jks

generated/